<footer class="sticky-footer bg-info text-white mt-4">
    <div class="flex-container">
      <div class = "flex-text">{{'FooterLabels.title' | translate}}<br> {{'FooterLabels.phone' | translate}} 72 18 56 06<br>{{'FooterLabels.email' | translate}}: fisketegn@fiskeristyrelsen.dk</div>
      <div class = "flex-text">{{'FooterLabels.opening-hours-label' | translate}}<br>{{'FooterLabels.opening-hours' | translate}}</div>
      <div class = "flex-text">{{'FooterLabels.cvr' | translate}} 39097176<br>{{'FooterLabels.ean' | translate}} 5798000008700</div>
      <div class = "flex-logo"><img src="assets/svg/Fiskeristyrelsen_270px_white.svg" height=100></div>
    </div>
  </footer>