<footer class="bg-info text-white mt-4">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-md-3">
          <h5>Fiskeristyrelsen</h5></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-10">Fisketegn<span class="small"><br> Tlf. 7218 5606 </span><br>Email: fisketegn@fiskeristyrelsen.dk<br><br>Åbningstider for fisketegntelefonen<br>Mandag - Fredag 10.00-14.00<br><br>CVR nr. 39097176<br>EAN nr. 5798000008700</div>
        <div class="col-md-2 align-top"><img src="assets/svg/Fiskeristyrelsen_270px_white.svg" height=100></div>
      </div>
    </div>
  </footer>