<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand padding navbar-text" [routerLink]="['/']">{{'NavbarLabels.title' | translate}}</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto navbar">
      <li class="nav-item navbar-text">
        <a  *ngIf="auth.isLoggedIn() && auth.isAdmin()" class="nav-link" [routerLink]="['/adminbruger']" [routerLinkActive]="['activeLink']">{{'NavbarLabels.admin-user' | translate}}</a>
      </li>
      <li class="nav-item navbar-text">
        <a  class="nav-link" [routerLink]="['/buyLystfisketegn']" routerLinkActive="activeLink">{{'NavbarLabels.angler' | translate}}</a>
      </li>
      <li class="nav-item navbar-text">
        <a class="nav-link" [routerLink]="['/buyFritidsfisketegn']" [routerLinkActive]="['activeLink']">{{'NavbarLabels.hobby' | translate}}</a>
      </li>
      <li class="nav-item navbar-text">
        <a  *ngIf="auth.isLoggedIn()" class="nav-link" [routerLink]="['/profile']"
          routerLinkActive="activeLink">{{'NavbarLabels.profile' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>

