a.activeLink {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    font-weight:bool;
}
navbar-nav.collapse a:after{
    content: "|";
}

.padding{
    padding-left: 1%;
}

.navbar-text{
    font-size: x-large;
    color: white !important;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.250);
    border-radius: 5px;
}