<div class="row justify-content-center">
  <div class=" wrapper col">
    <h2>{{'FrontpageLabels.welcome' | translate}}</h2>
    <div class="row">
      <div class="form-group col">
        <div>
          <a class="flex-logo clicker" (click)="open(content)"><img src="assets/img/Lystfisketegn.jpeg"></a>
        </div>
        <div class="bg-info">
          <a class="flex-logo text-white clicker" (click)="open(content)"><p>{{'FrontpageLabels.buy' | translate}}</p></a>
        </div>
      </div>
      <div class="form-group col">
        <div>
          <a href="/profile"><img src="assets/img/forny-fisketegn.jpg"></a>
        </div>
        <div class="bg-info text-white">
          <a class="flex-logo text-white clicker" href="/profile">
            <p>{{'FrontpageLabels.renew' | translate}}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <div>
          <img src="assets/img/Genudsaetning.jpg">
        </div>
        <div class="bg-info text-white">
          <p>{{'FrontpageLabels.did-you-know' | translate}}</p>
          <ul>
            <li>{{'FrontpageLabels.dyk-one' | translate}}</li>
            <li>{{'FrontpageLabels.dyk-two' | translate}}</li>
            <li>{{'FrontpageLabels.dyk-three' | translate}}</li>
          </ul>
          <p>{{'FrontpageLabels.dyk-four' | translate}}</p>
          <a class="text-white" href="https://www.fiskepleje.dk/">{{'FrontpageLabels.read-more' | translate}}</a>
        </div>
      </div>
      
    </div>
  </div>
</div>


<!--Popup til valg af  fisketgnstyppe-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'FrontpageLabels.type' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col">
        <div>
          <a href="buyLystfisketegn"><img src="../../../assets/img/Lystfisketegn.jpeg"></a>
        </div>
        <div>
          <a href="buyLystfisketegn">
            <p class="popupTest bg-info text-white">{{'FrontpageLabels.angler' | translate}}</p>
          </a>
        </div>
      </div>
      <div class="form-group col">
        <div>
          <a href="buyFritidsfisketegn"><img src="../../../assets/img/fritidsfisketegn.jpeg"></a>
        </div>
        <div>
          <a href="buyFritidsfisketegn"><p class="popupTest bg-info text-white">{{'FrontpageLabels.hobby' | translate}}</p></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col popupTest">
        <a href="twoTyps">
          <p>{{'FrontpageLabels.which-license' | translate}}</p>
        </a>
      </div>
    </div>
  </div>
</ng-template>