<div class="row justify-content-center">
  <div class=" wrapper col">
    <h2>{{'FrontpageLabels.welcome' | translate}}</h2>
    <div class="row">
      <div class="col-6">
        <button class = "big-button frontpage-box-container" (click)="open(content)" attr.aria-label="{{'FrontpageLabels.buy' | translate}}">
             <div class="flex-logo" ><img class= "frontpage-image" src="assets/img/Lystfisketegn.jpeg"></div>
           <div class="bg-info frontpage-box" >              
              <p class = "frontpage-text-underlined">{{'FrontpageLabels.buy' | translate}}</p>
          </div>
        </button>
      </div>
      <div class="col-6">
        <button class = "big-button frontpage-box-container" [routerLink]="['/profile']" attr.aria-label="{{'FrontpageLabels.renew' | translate}}">
          <div ><img class= "frontpage-image" src="assets/img/forny-fisketegn.jpg"></div>
          <div class="flex-logo text-white">
            <div class="bg-info frontpage-box">
              <p class = "frontpage-text-underlined">{{'FrontpageLabels.renew' | translate}}</p>
            </div> 
          </div>
        </button>
     </div>
    <div class="row frontpage-box-container">
      <div class=" col-12">
        <div>
          <img class= "frontpage-image" src="assets/img/Genudsaetning.jpg">
        </div>
        <div class="bg-info text-white frontpage-box">
          <div class = "frontpage-text">
            <p>{{'FrontpageLabels.did-you-know' | translate}}</p>
            <ul>
              <li>{{'FrontpageLabels.dyk-one' | translate}}</li>
              <li>{{'FrontpageLabels.dyk-two' | translate}}</li>
              <li>{{'FrontpageLabels.dyk-three' | translate}}</li>
            </ul>
            <p>{{'FrontpageLabels.dyk-four' | translate}}</p>
            <a class="text-white" href="https://www.fiskepleje.dk/">{{'FrontpageLabels.read-more' | translate}}</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<!--Popup til valg af  fisketgnstyppe-->
<ng-template #content let-modal>
  <div class="modal-header bg-secondary">
    <h4 class="modal-title" id="modal-basic-title">{{'FrontpageLabels.type' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-secondary">
    <div class="row">
      <div class=" col">
        <button class = "big-button frontpage-box-container" [routerLink]="['/buyLystfisketegn']" (click)="modal.dismiss('item selected')">
          <img class= "frontpage-image" src="../../../assets/img/Lystfisketegn.jpeg">
          <p class="popupTest bg-info text-white frontpage-box">{{'FrontpageLabels.angler' | translate}}</p>
        </button>
      </div>
      <div class=" col">
        <button class = "big-button frontpage-box-container" [routerLink]="['/buyFritidsfisketegn']" (click)="modal.dismiss('item selected')">
          <img class= "frontpage-image" src="../../../assets/img/fritidsfisketegn.jpeg">
          <p class="popupTest bg-info text-white frontpage-box">{{'FrontpageLabels.hobby' | translate}}</p>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col popupTest">
        <a href="twoTyps">
          <p>{{'FrontpageLabels.which-license' | translate}}</p>
        </a>
      </div>
    </div>
  </div>
</ng-template>