img {
  width: 100%;
}

.clicker {
  cursor: pointer;
}

.popupTest {
  text-align: center;
}
.frontpage-box-container{
  border-style: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.frontpage-image{
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.frontpage-box{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.frontpage-text{
  padding: 10px;
  padding-left: 20px;
  
  color: white;
  text-align: left;
}

.frontpage-text-underlined{
  padding: 10px;
  padding-left: 20px;
  
  color: white;
  text-decoration: underline;
  text-align: left;
}

.text {
  text-decoration: none;
}

.big-button {
	border-radius: 0;
	border-style: none;
	background-color: transparent;
	width: 100%;
}