<header>
    <div class="flex-container bg-secondary">
        <a class = "flex-logo" [routerLink]="['/']"><img src="assets/svg/Fiskeristyrelsen_crown.svg" height=100></a>
        
            <a class = "flex-text" [routerLink]="['/help']">{{'HeaderLabels.help' | translate}}</a>
            <div class = "separator">|</div>
            <a class = "flex-text clicker" [routerLink]="['/faq']">{{'HeaderLabels.faq' | translate}}</a>
            <div class = "separator">|</div>
            <a class = "flex-text clicker" [routerLink]="['/contact']">{{'HeaderLabels.contact' | translate}}</a>
            <div class = "separator">|</div>
            <a (click)="goToLink('https://fiskeristyrelsen.dk/vaerd-at-vide-om-os/om-fiskeristyrelsen/')" class = "flex-text clicker">{{'HeaderLabels.aboutAgency' | translate}}</a>
            <div class = "separator">|</div>
            <a (click)="goToLink('https://fiskeristyrelsen.dk/lyst-og-fritidsfiskeri/')" class = "flex-text clicker">{{'HeaderLabels.aboutLicense' | translate}}</a>
            <div class = "separator">|</div>
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-info dropdown-button" id="dropdownBasic1" ngbDropdownToggle>{{selectedLanguage}}</button>
                <div ngbDropdownMenu class = "dropdown-menu" aria-labelledby="dropdownBasic1">
                    <button class = "dropdown-item" (click)="changeLanguage('Dansk')" ngbDropdownItem>Dansk</button>
                    <button class = "dropdown-item" (click)="changeLanguage('English')" ngbDropdownItem>English</button>
                    <button class = "dropdown-item" (click)="changeLanguage('Deutch')" ngbDropdownItem>Deutch</button>
                </div>
            </div>
            <div class = "separator">|</div>
            <button *ngIf="!auth.isLoggedIn()" [routerLink]="['/login']" class = "log-in-button">{{'HeaderLabels.log-in' | translate}}</button>
            <button *ngIf="auth.isLoggedIn()" (click)="onLogoutClick()" class = "log-in-button">{{'HeaderLabels.log-off' | translate}}</button>
        
    </div>
</header>