<header>
    <div class="flex-container">
        <a class = "flex-logo" [routerLink]="['/']"><img src="assets/svg/Fiskeristyrelsen_crown.svg" height=100></a>
        
            <a class = "flex-text" [routerLink]="['/help']">HJÆLP</a>
            <div class = "separator">|</div>
            <a class = "flex-text">FAQ</a>
            <div class = "separator">|</div>
            <a class = "flex-text">KONTAKT</a>
            <div class = "separator">|</div>
            <a (click)="goToLink('https://fiskeristyrelsen.dk/vaerd-at-vide-om-os/om-fiskeristyrelsen/')" class = "flex-text">OM FISKERISTYRELSEN</a>
            <div class = "separator">|</div>
            <a (click)="goToLink('https://fiskeristyrelsen.dk/lyst-og-fritidsfiskeri/')" class = "flex-text">OM LYST- OG FRITIDSFISKERI</a>
            <div class = "separator">|</div>
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-info dropdown-button" id="dropdownBasic1" ngbDropdownToggle>{{selectedLanguage}}</button>
                <div ngbDropdownMenu class = "dropdown-menu" aria-labelledby="dropdownBasic1">
                    <button class = "dropdown-item" (click)="changeLanguage('Dansk')" ngbDropdownItem>Dansk</button>
                    <button class = "dropdown-item" (click)="changeLanguage('English')" ngbDropdownItem>English</button>
                    <button class = "dropdown-item" (click)="changeLanguage('Deutch')" ngbDropdownItem>Deutch</button>
                </div>
            </div>
            <div class = "separator">|</div>
            <button *ngIf="!auth.isLoggedIn()" [routerLink]="['/login']" class = "log-in-button">LOG IND</button>
            <button *ngIf="auth.isLoggedIn()" (click)="onLogoutClick()" class = "log-in-button">LOG AF</button>
        
    </div>
</header>