<div class="row justify-content-center">
  <div class=" wrapper col">
    <h2 attr.aria-label="{{'formLabels.angler-title' | translate}}">{{'formLabels.angler-title' | translate}}</h2>
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col">
          <label>{{'formLabels.firstname' | translate}}</label>
          <input type="text" formControlName="FirstName" name="FirstName" class="form-control uppercase" attr.aria-label="{{'formLabels.firstname' | translate}}">
        </div>
        <div class="form-group col">
          <label>{{'formLabels.lastname' | translate}}</label>
          <input type="text" formControlName="LastName" name="LastName" class="form-control uppercase" attr.aria-label="{{'formLabels.lastname' | translate}}">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>{{'formLabels.cpr' | translate}}</label>
          <input type="text" formControlName="CPR" name="CPR" class="form-control" attr.aria-label="{{'formLabels.cpr' | translate}}">
        </div>
        <div class="form-group col">
          <label>{{'formLabels.email' | translate}}</label>
          <input type="text" formControlName="Email" name="Email" class="form-control uppercase" attr.aria-label="{{'formLabels.email' | translate}}">
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col">
          <label>{{'formLabels.address' | translate}}</label>
          <input type="text" formControlName="Address" name="Address" class="form-control uppercase" attr.aria-label="{{'formLabels.address' | translate}}">
        </div>
        <div class="form-group col">
          <label>{{'formLabels.zipcode' | translate}}</label>
          <input type="text" formControlName="ZipCode" name="ZipCode" class="form-control" attr.aria-label="{{'formLabels.zipcode' | translate}}">
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col" >
          <label>{{'formLabels.country' | translate}}</label>
          <div class="col">
            <div ngbDropdown class="d-inline-block " *ngIf = "!this.auth.isLoggedIn()">
              <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>{{selectedCountry}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="changeCountry('Danmark')" ngbDropdownItem>{{'country.Denmark' | translate}}</button>
                <button (click)="changeCountry('Tyskland')" ngbDropdownItem>{{'country.Germany' | translate}}</button>
                <button (click)="changeCountry('Storbritannien')" ngbDropdownItem>{{'country.United-Kingdom' | translate}}</button>
                <button (click)="changeCountry('Albanien')" ngbDropdownItem>{{'country.Albania' | translate}}</button>
                <button (click)="changeCountry('Andorra')" ngbDropdownItem>{{'country.Andorra' | translate}}</button>
                <button (click)="changeCountry('Belgien')" ngbDropdownItem>{{'country.Belgium' | translate}}</button>
                <button (click)="changeCountry('Bosnien- Hercegovina')" ngbDropdownItem>{{'country.Bosnia-and-Herzegovina' | translate}}</button>
                <button (click)="changeCountry('Bulgarien')" ngbDropdownItem>{{'country.Bulgaria' | translate}}</button>
                <button (click)="changeCountry('Cypern')" ngbDropdownItem>{{'country.Cyprus' | translate}}</button>
                <button (click)="changeCountry('Estland')" ngbDropdownItem>{{'country.Estonia' | translate}}</button>
                <button (click)="changeCountry('Finland')" ngbDropdownItem>{{'country.Finland' | translate}}</button>
                <button (click)="changeCountry('Frankrig')" ngbDropdownItem>{{'country.France' | translate}}</button>
                <button (click)="changeCountry('Georgien')" ngbDropdownItem>{{'country.Georgia' | translate}}</button>
                <button (click)="changeCountry('Grækenland')" ngbDropdownItem>{{'country.Greece' | translate}}</button>
                <button (click)="changeCountry('Hviderusland')" ngbDropdownItem>{{'country.Belarus' | translate}}</button>
                <button (click)="changeCountry('Irland')" ngbDropdownItem>{{'country.Ireland' | translate}}</button>
                <button (click)="changeCountry('Island')" ngbDropdownItem>{{'country.Iceland' | translate}}</button>
                <button (click)="changeCountry('Italien')" ngbDropdownItem>{{'country.Italy' | translate}}</button>
                <button (click)="changeCountry('Kroatien')" ngbDropdownItem>{{'country.Croatia' | translate}}</button>
                <button (click)="changeCountry('Letland')" ngbDropdownItem>{{'country.Latvia' | translate}}</button>
                <button (click)="changeCountry('Liechtenstein')" ngbDropdownItem>{{'country.Liechtenstein' | translate}}</button>
                <button (click)="changeCountry('Litauen')" ngbDropdownItem>{{'country.Lithuania' | translate}}</button>
                <button (click)="changeCountry('Luxembourg')" ngbDropdownItem>{{'country.Luxembourg' | translate}}</button>
                <button (click)="changeCountry('Makedonien')" ngbDropdownItem>{{'country.Macedonia' | translate}}</button>
                <button (click)="changeCountry('Malta')" ngbDropdownItem>{{'country.Malta' | translate}}</button>
                <button (click)="changeCountry('Moldavien')" ngbDropdownItem>{{'country.Moldova' | translate}}</button>
                <button (click)="changeCountry('Monaco')" ngbDropdownItem>{{'country.Monaco' | translate}}</button>
                <button (click)="changeCountry('Nederlandene')" ngbDropdownItem>{{'country.Netherlands' | translate}}</button>
                <button (click)="changeCountry('Norge')" ngbDropdownItem>{{'country.Norway' | translate}}</button>
                <button (click)="changeCountry('Polen')" ngbDropdownItem>{{'country.Poland' | translate}}</button>
                <button (click)="changeCountry('Portugal')" ngbDropdownItem>{{'country.Portugal' | translate}}</button>
                <button (click)="changeCountry('Rumænien')" ngbDropdownItem>{{'country.Romania' | translate}}</button>
                <button (click)="changeCountry('Rusland')" ngbDropdownItem>{{'country.Russia-Federation' | translate}}</button>
                <button (click)="changeCountry('San Marino')" ngbDropdownItem>{{'country.San-Marino' | translate}}</button>
                <button (click)="changeCountry('Schweiz')" ngbDropdownItem>{{'country.Switzerland' | translate}}</button>
                <button (click)="changeCountry('Serbien og Montenegro')" ngbDropdownItem>{{'country.Serbia-and-Montenegro' | translate}}</button>
                <button (click)="changeCountry('Slovakiet')" ngbDropdownItem>{{'country.Slovakia' | translate}}</button>
                <button (click)="changeCountry('Slovenien')" ngbDropdownItem>{{'country.Slovenia' | translate}}</button>
                <button (click)="changeCountry('Spanien')" ngbDropdownItem>{{'country.Spain' | translate}}</button>
                <button (click)="changeCountry('Sverige')" ngbDropdownItem>{{'country.Sweden' | translate}}</button>
                <button (click)="changeCountry('Tjekkiet')" ngbDropdownItem>{{'country.Czech-Republic' | translate}}</button>
                <button (click)="changeCountry('Tyrkiet')" ngbDropdownItem>{{'country.Turkey' | translate}}</button>
                <button (click)="changeCountry('Ukraine')" ngbDropdownItem>{{'country.Ukraine' | translate}}</button>
                <button (click)="changeCountry('Ungarn')" ngbDropdownItem>{{'country.Hungary' | translate}}</button>
                <button (click)="changeCountry('Vatikanstaten')" ngbDropdownItem>{{'country.Vatican-City' | translate}}</button>
                <button (click)="changeCountry('Østrig')" ngbDropdownItem>{{'country.Austria' | translate}}</button>
                <button (click)="changeCountry('Andet land')" ngbDropdownItem>{{'country.Other-Countries' | translate}}</button>
              </div>
            </div>
            <input type="text" formControlName="CountryDisabled" name="Country" class="form-control uppercase" *ngIf="this.auth.isLoggedIn()">
          </div>
        </div>

        <div class="form-group col-6">
          <label>{{'formLabels.highquality' | translate}}</label>
          <div class="form-check">
            <label class="radio-inline display-block">
              <input type="checkbox" value="false" name="HighQuality" formControlName="HighQuality" class="form-check-input" attr.aria-label="{{'formLabels.highquality' | translate}}">
              DKK 15,00
            </label>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-6">
          <label>{{'formLabels.license-type' | translate}}</label>
          <div class="form-check">
            <label class="radio-inline display-block">
              <input (change)="disableStartDate()" class="form-check-input" type="radio" value="y" name="Type" formControlName="Type">
              {{'formLabels.year-license' | translate}} DKK 185,00
            </label>
            <label class="radio-inline display-block">
              <input (change)="enableStarteDate()" class="form-check-input" type="radio" value="w" name="Type" formControlName="Type">
              {{'formLabels.week-license' | translate}} DKK 130,00
            </label>
            <label class="radio-inline display-block">
              <input (change)="enableStarteDate()" class="form-check-input" type="radio" value="d" name="Type" formControlName="Type">
              {{'formLabels.day-license' | translate}} DKK 40,00
            </label>
          </div>
        </div>
        <div class="form-group col">
          <label>{{'formLabels.start-label' | translate}}</label>
          <input type="date" formControlName="StartDate" name="StartDate" class="form-control">
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col">
          <label>{{'formLabels.password' | translate}}</label>
          <input type="password" formControlName="Password" name="Password" class="form-control" attr.aria-label="{{'formLabels.password' | translate}}">
        </div>
        <div class="form-group col">
          <label>{{'formLabels.repeat-password' | translate}}</label>
          <input type="password" formControlName="gentagPassword" name="gentagPassword" class="form-control" attr.aria-label="{{'formLabels.repeat-password' | translate}}">
        </div>
      </div>

      <div class="row justify-content-center">
        <div *ngIf="!loading" class="form-group col-3 submitButton">
          <input type="submit" class="btn btn-info" value="{{'formLabels.buy-license' | translate}}" (click)="onRegisterSubmit()">
        </div>
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </form>
  </div>
</div>