<div id="faq">

  <h1>SPØRGSMÅL OM KØB AF FISKETEGN</h1>

  <a (click)="scrollTo('anchor-1')" class="index">HVILKET FISKETEGN - LYSTFISKER ELLER FRITIDSFISKER?</a><br>
  <a (click)="scrollTo('anchor-2')" class="index">HVOR MÅ JEG FISKE MED FISKETEGNET?</a><br>
  <a (click)="scrollTo('anchor-3')" class="index">HVAD KOSTER FISKETEGNENE?</a><br>
  <a (click)="scrollTo('anchor-4')" class="index">HVAD GÅR PENGENE TIL - FISKEPLEJE?</a><br>
  <a (click)="scrollTo('anchor-5')" class="index">KØB FISKETEGN</a><br>
  <a (click)="scrollTo('anchor-6')" class="index">UDSKRIV KVITTERING/FISKETEGN</a><br>
  <a (click)="scrollTo('anchor-7')" class="index">Ændring af kodeord</a><br>
  <a (click)="scrollTo('anchor-8')" class="index">JEG VIL FORNY ELLER FORLÆNGE MIT FISKETEGN</a><br>
  <a (click)="scrollTo('anchor-9')" class="index">ADRESSEÆNDRING</a><br>
  <a (click)="scrollTo('anchor-10')" class="index">PERSONLIGE OPLYSNINGER</a><br>
  <a (click)="scrollTo('anchor-11')" class="index">SIKKERHED VED BETALING</a><br>
  <a (click)="scrollTo('anchor-12')" class="index">HVILKE BETALINGSKORT KAN JEG BRUGE?</a><br>

  <br>
  <div id="anchor-1">
    <h2>HVILKET FISKETEGN - LYSTFISKER ELLER FRITIDSFISKER?</h2>
    Der er 2 typer fisketegn - Lystfiskertegn og Fritidsfiskertegn
    <h3>Lystfisker</h3>
    Hvis du fisker med lette håndredskaber, skal du have lystfiskertegn. Håndredskaber er
    fx fiskestang, pilk og harpun - redskaber som du fisker aktivt med.<br>
    <br>
    Hvem skal <b>ikke</b> have lystfiskertegn?
    <ul>
      <li>Personer under 18 år</li>
      <li>Personer der har opnået ret til folkepension</li>
      <li>Fritidsfiskere som har et gyldigt fritidsfiskertegn</li>
      <li>Ejeren og resten af husstanden af den grund, der ligger nærmest ved det <b>ferskvand</b>, der bliver fisket i.
      </li>
      <li>Lystfiskere der fisker i "put and take" søer (ørredssøer).</li>
    </ul>
    Fisketegnet er personligt og må ikke bruges af andre - heller ikke af personer i familien
    eller personer som har den samme adresse.<br>
    <br>
    <h3>Fritidsfisker</h3>
    Hvis du fisker med redskaber som fx garn, ruser og kroge, skal du have
    fritidsfiskertegn. Redskaberne fisker passivt, uden at du behøver at være til stede.<br>
    <br>
    For at være fritidsfisker skal du:
    <ul>
      <li>Være fyldt 12 år (der er ingen øvre aldersgrænse)</li>
      <li>Have fast bopæl i Danmark, medmindre du kommer fra et EU-land, Island eller Norge og har en
        nærmere tilknytning til Danmark, for eksempel på grund af arbejde her i landet.</li>
    </ul>
    Du skal have fritidsfiskertegn, selvom du har opnået ret til folkepension.<br>
    <br>
    Fisketegnet er personligt og må ikke bruges af andre - heller ikke af personer i familien
    eller personer som har samme adresse.
    <br>
    <h3>Mere information</h3>

    <ul>
      <li>Regler:
        <a href="https://www.retsinformation.dk/Forms/R0710.aspx?id=122490">
          Bekendtgørelse om rekreativt fiskeri i salt- og ferskvand samt redskabsfiskeri mv. i ferskvand</a>
      </li>
      <li>Pjece:
        <a href="https://fiskeristyrelsen.dk/lyst-og-fritidsfiskeri/regler-for-lyst-og-fritidsfiskeri/">
          Lyst- og fritidsfiskeri, fiskepleje og fiskeriregler</a>
      </li>
      <li>Kontakt til:
        <a href="https://fiskeristyrelsen.dk/kontakt/">
          Fiskeristyrelsen</a>
      </li>
    </ul>
  </div>

  <div id="anchor-2">
    <h2>HVOR MÅ JEG FISKE MED FISKETEGNET?</h2>
    <ul>
      <li>I saltvand på dansk fiskeriterritorium</li>
      <li>Naturlige ferske vande - med ejerens tilladelse. Hvis du fisker med redskaber, skal redskaberne mærkes
        med navn, adresse og matrikelnummer for den ejendom som har fiskeretten.</li>
      <li>Kanaler, grøfter og lignende, som er skabt af mennesker, men som er en del af naturlige vandløb.</li>
    </ul>
    Vær opmærksom på, at der er mange steder, hvor du ikke må fiske. Det kan være på grund af fredningsbælter, regler om
    afstand eller der er en lokal lyst- eller sportsfiskerforening/klub som har fiskeretten. Og der er områder, hvor
    fiskeri
    helt er forbudt.<br>

    <h3>Mere information:</h3>
    <ul>
      <li><a
          href="https://fiskeristyrelsen.dk/lyst-og-fritidsfiskeri/fredningsbaelter-og-saerlige-lokale-regler/">Bekendtgørelse
          om fredningsbælter</a></li>
      <li><a href="https://kms.maps.arcgis.com/apps/webappviewer/index.html?id=5bd97e15c7d548b99640e28662e58a22">Kort med
          fredningsbælter på fd.dk</a></li>
      <li><a href="https://fiskeristyrelsen.dk/media/9261/afstandsfolder.pdf">Folder om afstandsregler i fiskeriet</a>
      </li>
    </ul>
  </div>

  <div id="anchor-3">
    <h2>HVAD KOSTER FISKETEGNENE?</h2>
    <b>Lystfiskertegn</b> til fiskeri med lette håndredskaber som fx stang:
    <ul>
      <li>1 år&nbsp; - 185 kr. Gælder 1 år fra og med betalingsdagen</li>
      <li>1 uge - 130 kr. Skriv hvilken periode på kortet</li>
      <li>1 dag - 40 kr. Skriv hvilken dag på kortet</li>
    </ul>
    Du kan for dag- og ugekort vælge en anden gyldighedsdag- eller periode end den dag hvor du
    betaler. Denne dag, eller for ugekort periodestart, kan maksimalt være 30 dage efter betalingsdagen.
    Du skal skrive den valgte dag eller periode på tegnet, inden du starter fiskeriet.<br>
    <br>
    Årskort gælder fra betalingsdagen, eller 1 år i forlængelse af lystfisketegnets nuværende gyldighedsperiode.<br>
    <br>
    <b>Fritidsfiskertegn</b> til fiskeri med redskaber som fx garn, ruser og kroge koster 300 kr. for 1 år fra
    betalingsdagen,
    eller 1 år i forlængelse af fritidsfiskertegnets nuværende gyldighedsperiode. Du kan også bruge fritidsfiskertegnet
    som lystfiskertegn.
</div>

  <div id="anchor-4">
    <h2>HVAD GÅR PENGENE TIL - FISKEPLEJE?</h2>
    Indtægterne fra salg af fisketegn går til fiskepleje gennem udsætninger, restaurering og
    lignende af vandløb og søer samt foranstaltninger og forskning, der i øvrigt har betydning for
    reproduktion, vækst m.v. af fiskebestandene. Midlerne er på den måde til gavn for fiskene,
    og det giver bedre muligheder for et godt fiskeri for lystfiskere, fritidsfiskere,
    bierhvervsfiskere og erhvervsfiskere.<br>
    <br>
    Indtægterne er på ca. 30 millioner kr. om året. De bliver administreret af Ministeriet for Fødevarer, Landbrug og
    Fiskeri, Fiskeristyrelsen, i tæt samarbejde med Danmarks Fiskeriundersøgelser og fiskeriets organisationer.<br>
    <h3>Mere information:</h3>
    <ul>
      <li><a href="http://www.fiskepleje.dk/">Fiskepleje.dk</a></li>
      <li><a href="http://www.aqua.dtu.dk/Default.aspx">DTU Aqua (tidligere Danmarks Fiskeriundersøgelser)</a></li>
      <li><a href="https://fiskeristyrelsen.dk/raad-og-udvalg/7-udvalget/">§ 7-Udvalget</a></li>
    </ul>
  </div>

  <div id="anchor-5">
    <h2>HVOR KAN JEG KØBE FISKETEGN?</h2>
    <h3>Fisketegn.dk</h3>
    Det nemmeste og billigste er at købe dit fisketegn her på <a href="https://www.fisketegn.dk/">www.fisketegn.dk</a>

    <h3>Posthuset</h3>
    Du kan købe fisketegn på ca. 250 posthuse og i ca. 600 postbutikker i Danmark. Et giroindbetalingskort koster 15
    kroner ved indbetaling på posthuset.

    <h3>Udsalgssteder</h3>
    Der er ca. 200 udsalgssteder, hvor du kan købe fisketegn. Det er fx turistkontorer, campingpladser,
    fiskesportsbutikker og
    lignende. Nogle af udsalgsstederne kræver et gebyr oveni prisen.<br>

    <h3>Mere information:</h3>
    <ul>
      <li><a href="https://fiskeristyrelsen.dk/media/10531/salgssteder-27032019-formateret.pdf">Liste over
          udsalgssteder</a></li>
      <li><a class="anchorLink" (click)="scrollTo('anchor-5.5')">Køb fisketegn</a></li>
    </ul>
  </div>

  <div id="anchor-5.5">
    <h2>KØB FISKETEGN</h2>
    <b>TRIN 1</b> Vælg:
    <ul>
      <li>Lystfiskertegn eller Fritidsfiskertegn</li>
    </ul>
    Du kan kun købe én slags fisketegn ad gangen (lyst- eller fritidsfiskertegn). Hvis du vil købe flere typer tegn,
    skal du først afslutte det køb, du er i gang med, og derefter gå tilbage i startbilledet.<br>
    <b>TRIN 2</b> Vælg for lystfiskertegn mellem:
    <ul>
      <li>Dagkort</li>
      <li>Ugekort</li>
      <li>Årskort</li>
    </ul>
    <b>TRIN 3</b>Vælg om du vil have plastikkort (frivilligt).<br>
    Plastikkortet har samme størrelse og kvalitet som et kreditkort. Det er let at have med, og
    så er du sikker på, at du kan huske dit fiskerinummer. Kortet koster 15 kr., og det bliver sendt
    til dig indenfor ca. 14 dage efter købet.<br>
    <br>
    Der står ikke gyldighedsperiode på plastikkort. Det er gyldigt så længe som det pågældende
    fiskerinummer forlænges. Startdatoen på plastickortet er den dato som plastikkortet er købt (de 15 kr. er betalt).<br>
    <br>
    Du beholder dit fiskerinummer og behøver altså ikke at købe nyt plastikkort ved fornyelser.<br>
    <b>TRIN 4</b> Læg det valgte i indkøbskurven.<br>
    Nu kan du købe flere fisketegn, fx til familie og venner, inden du går til betalingsbilledet.
    Husk at hvert medlem af en husstand skal have sit eget fisketegn.<br>
    <br>
    <b>TRIN 5</b> Kontroller dit køb - er de indtastede oplysninger rigtige?<br>
    <br>
    <b>TRIN 6</b> Bekræft købet ved at indtaste oplysninger fra dit betalingskort:
    <ul>
      <li>Kortnummer - findes på kortets forside</li>
      <li>Udløbsdato - findes på kortets forside</li>
      <li>Kontrolnummer - 3 sidste cifre i talrække på bagsiden over magnetstriben eller i underskriftsfeltet</li>
    </ul>
    <b>TRIN 7</b> Udskriv fisketegn:<br>
    <br>
    Når betalingen er gennemført, kan du udskrive det/de købte fisketegn. Fisketegnet
    indeholder det fiskerinummer, som du sammen med legitimation skal have med, når
    du tager ud at fiske. Hvis du bliver kontrolleret skal du oplyse nummeret og
    vise ID.<br>
    <br>
    Fisketegnet kan udskrives i PDF-format*, eller i et simpelt tekst-format,
    som kan udskrives på alle typer printere. Hvis der ikke er tilsluttet printer til din computer,
    kan du nøjes med at notere fiskerinummeret.<br>
    Vælg udskriftsformat og tryk på "Udskriv". Så kommer der en
    filoverførselsmeddelelse på skærmen:<br>
    <img src="../../../assets/img/filetransfer_en.jpg"><br>
    Du vælger "Åbn", hvorefter fisketegnet kommer på skærmen, og kan udskrives. Hvis du
    vælger "Gem" kan du udskrive fisketegnet på et senere tidspunkt.<br>
    <br>
    * Du kan hente PDF-filen ved hjælp af læseprogrammet Acrobat. Programmet er gratis, og du kan få det her:
    <a
      href="http://www.adobe.com/prodindex/acrobat/readstep.html">http://www.adobe.com/prodindex/acrobat/readstep.html</a>.<br>

    <h3>Mere information:</h3>
    <ul>
      <li>
        <a href="http://www.pbs.dk/da/temaer/sikkerhed-paa-internettet/Pages/default.aspx">
          Sikkerhed for betalingskort
        </a>
      </li>
    </ul>
  </div>

  <div id="anchor-6">
    <h2>UDSKRIV KVITTERING / FISKETEGN</h2>
    Oplysningerne fra dit betalingskort bliver kontrolleret. Derefter sender <a href="http://www.dibs.dk/">dibs</a>
    en kvittering for det gennemførte køb, til den mail adresse som eventuelt er angivet sammen med de øvrige
    brugeroplysninger.
    Det sker straks efter købet. Hvis der ikke er angivet nogen mail adresse, fremsendes denne kvittering ikke.<br>
    <br>
    Hvis der er fejl, og købet derfor ikke kan gennemføres, vil du straks få besked om fejlen. Du vil også blive vejledt
    om,
    hvordan du kan rette fejlen.<br>
    <br>
    På fisketegnet står det fiskerinummer, som du skal have med, når du fisker, sammen med legitimation.
    Når du har nummeret, kan du tage på fisketur.<br>
    <br>
    Hvis du har valgt at bestille et fisketegn af plastik, bliver det sendt til den adresse, du har oplyst, indenfor ca.
    14 dage.
    Det er helt frivilligt, om du vil købe et plastikkort. Hvis du bliver kontrolleret, skal du blot oplyse dit
    fiskerinummer
    og vise legitimation. Hvis du har oplyst dit CPR-nummer, da du købte tegnet, kan du oplyse dette i stedet for
    fiskerinummeret.<br>
    <br>
    Det er en god idé at få et plastikkort. Det er nemt og praktisk at have med - og så er du sikker på at kunne huske dit
    fiskerinummer.<br>
    <br>
    Beløbet bliver normalt trukket på din konto på arbejdsdagen, efter at du har betalt.
  </div>

  <div id="anchor-7">
    <h2>ÆNDRING AF KODEORD</h2>
    Når man har købt et års-fisketegn kan man efterfølgende benytte fisketegnsnummeret
    som bruger ID og postnummeret som kodeord, hvis man vil logge på fisketegnssiden.<br>
    <br>
    Første gang man logger på med postnummeret som kodeord, vil man blive bedt om at
    ændre kodeordet.<br>
    <br>
    Man ændrer kodeordet ved at vælge "skift kodeord" på den blå menu-linie.
    Først skriver man postnummeret og derefter skriver man det nye valgfri kodeord to gange.
    Kodeordet er ændret, når der er trykket på opdater.<br>
    <br>
    Hvis man ændrer adresse og dermed skifter postnummer, vil kodeordet/det gamle postnummer ikke
    automatisk blive ændret til det nye postnummer, hvis man på et tidligere tidspunkt selv har valgt
    at ændre til et valgfrit kodeord.
  </div>


  <div id="anchor-8">
    <h2>JEG VIL FORNY ELLER FORLÆNGE MIT FISKETEGN</h2>
    Hvis dit fisketegn er udløbet, kan du beholde dit fiskerinummer ved at forny lystfiskertegnet eller
    fritidsfiskertegnet. Du kan også forlænge det, inden det udløber.<br>
    <br>
    <b>TRIN 1</b> Klik på "login" i menulinjen<br>
    <b>TRIN 2</b> Indtast dit fiskerinummer<br>
    <b>TRIN 3</b> Indtast kodeordet = dit postnummer eller det kodeord, som postnummeret er ændret til.<br>
    <b>TRIN 4</b> Du får vist en status for dine oplysninger (adresse, sidste betaling, mv.)<br>
    <br>
    Du kan nu <b>forlænge</b> dit fisketegn. Hvis det ikke er udløbet, og det er et årskort, kan du forlænge
    det direkte efter udløbsdatoen. Du kan for dag- og ugetegn også vælge en anden dato, som ikke er senere end
    30 dage efter den dag, hvor du køber dit fisketegn.<br>
    <br>
    Du kan <b>forny</b> dit fisketegn, selv om det er udløbet. Det kan du gøre i op til 5 år efter det
    er udløbet. Hvis du fornyr tegnet, behøver du ikke at skifte fiskerinummer.
  </div>

  <div id="anchor-9">
    <h2>ADRESSEÆNDRING</h2>
    <b>TRIN 1</b> Klik på "login" i menulinjen<br>
    <b>TRIN 2</b> Indtast dit fiskerinummer<br>
    <b>TRIN 3</b> Indtast kodeord = dit postnummer eller det kodeord som postnummeret er ændret til.<br>
    <b>TRIN 4</b> Du får vist en status for dine oplysninger. Vælg "ret oplysninger" og du kan rette adressen.<br>
    <br>
    Du kan også indtaste dit CPR-nummer. Så bliver dine adresseoplysninger opdateret automatisk, så de svarer til
    oplysningerne i Folkeregistret.
  </div>

  <div id="anchor-10">
    <h2>PERSONLIGE OPLYSNINGER</h2>
    Når du køber fisketegn på fisketegn.dk, registrerer vi disse oplysninger:
    <ul>
      <li>Fornavn og efternavn</li>
      <li>Adresseoplysninger</li>
      <li>E-mailadresse</li>
      <li>CPR-nummer - hvis du har oplyst det</li>
    </ul>
    Fiskeristyrelsens database er en sikret database. Indholdet af databasen er kun tilgængelig for
    Fiskeristyrelsen. Dine personlige oplysninger eller dele af dem vil under ingen omstændigheder blive givet videre til
    andre.<br>
    <br>
    Vi kan også garantere, at dine oplysninger ikke vil blive brugt i andre forbindelser end dit køb af fisketegn. Og din
    e-mail adresse
    vil ikke blive brugt af andre til at sende mails til dig.<br>
    <br>
    Du kan opdatere dine personlige oplysninger ved at klikke på "login" i menulinjen, indtaste dit fiskerinummer og
    indtaste dit kodeord,
    som er dit postnummer eller det kodeord som postnummeret er ændret til. Vælg "ret oplysninger".
  </div>

  <h3>Mere information:</h3>
  <ul>
    <li><a class="anchorLink" (click)="scrollTo('anchor-11')">Hvilke betalingskort kan jeg bruge</a></li>
  </ul>
  <p></p>

  <div id="anchor-11">
    <h2>SIKKERHED VED BETALING</h2>
    Betalingssystemet er DIBS (Dansk Internet Betalings System). Det er det mest udbredte betalingssystem for kort i
    Danmark.
    Det er certificeret af PBS (Payment Business Systems).<br>
    <br>
    Fiskeristyrelsen har indgået garantiaftaler med DIBS og PBS. Aftalerne er din garanti for, at
    oplysningerne fra dit betalingskort er sikrede (krypterede).<br>
    <br>
    Fiskeristyrelsen får ikke adgang til oplysningerne fra dit betalingskort. Vi får kun ret til at
    trække det beløb, som du accepterer, når du betaler.<br>

    <h3>Mere information:</h3>
    <ul>
      <li><a class="anchorLink" (click)="scrollTo('anchor-11')">Hvilke betalingskort kan jeg bruge</a></li>
      <li><a class="anchorLink" (click)="scrollTo('anchor-5.5')">Personlige oplysninger</a></li>
    </ul>
  </div>

  <div id="anchor-12">
    <h2>HVILKE BETALINGSKORT KAN JEG BRUGE?</h2>
    Du kan bruge disse betalingskort, når du køber fisketegn:
    <ul>
      <li>Dankort</li>
      <li>VISA/Dankort</li>
      <li>VISA</li>
      <li>VISA Electron</li>
      <li>Eurocard</li>
      <li>Mastercard</li>
      <li>JCB</li>
    </ul>

    <h3>Mere information:</h3>
    <ul>
      <li><a class="anchorLink" (click)="scrollTo('anchor-10')">Sikkerhed ved betaling</a></li>
      <li><a class="anchorLink" (click)="scrollTo('anchor-5')">Køb fisketegn</a></li>
    </ul>
    <p></p>
  </div>

</div>