<div class="row justify-content-center">
  <div class=" wrapper col">
    <h2>{{'formLabels.hobby-title' | translate}}</h2>
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col uppercase">
          <label>{{'formLabels.firstname' | translate}}</label>
          <input type="text" formControlName="FirstName" name="FirstName" class="form-control uppercase" attr.aria-label="{{'formLabels.firstname' | translate}}" #firstName>
        </div>
        <div class="form-group col ">
          <label>{{'formLabels.lastname' | translate}}</label>
          <input type="text" formControlName="LastName" name="LastName" class="form-control uppercase" attr.aria-label="{{'formLabels.lastname' | translate}}">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>{{'formLabels.cpr' | translate}}</label>
          <input type="text" formControlName="CPR" name="CPR" class="form-control" attr.aria-label="{{'formLabels.cpr' | translate}}">
        </div>
        <div class="form-group col">
          <label>{{'formLabels.email' | translate}}</label>
          <input type="text" formControlName="Email" name="Email" class="form-control uppercase" attr.aria-label="{{'formLabels.email' | translate}}">
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label>{{'formLabels.address' | translate}}</label>
          <input type="text" formControlName="Address" name="Address" class="form-control uppercase" attr.aria-label="{{'formLabels.address' | translate}}">
        </div>
        <div class="form-group col">
          <label>{{'formLabels.zipcode' | translate}}</label>
          <input type="text" formControlName="ZipCode" name="ZipCode" class="form-control" attr.aria-label="{{'formLabels.zipcode' | translate}}">
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label>{{'formLabels.password' | translate}}</label>
          <input type="password" formControlName="Password" name="Password" class="form-control" attr.aria-label="{{'formLabels.password' | translate}}">
        </div>
        <div class="form-group col">
          <label>{{'formLabels.repeat-password' | translate}}</label>
          <input type="password" formControlName="gentagPassword" name="gentagPassword" class="form-control" attr.aria-label="{{'formLabels.repeat-password' | translate}}">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>{{'formLabels.highquality' | translate}}</label>
          <div class="form-check">
            <label class="radio-inline display-block">
              <input type="checkbox" value="false" name="HighQuality" formControlName="HighQuality" class="form-check-input" attr.aria-label="{{'formLabels.highquality' | translate}}">
              DKK 15,00
            </label>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div *ngIf="!loading" class="form-group col-3 submitButton">
          <input type="submit" class="btn btn-info" value="{{'formLabels.buy-license' | translate}}" (click)="onRegisterSubmit()">
        </div>
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </form>
  </div>
</div>