<div class="row justify-content-center">
  <div class=" wrapper col">
    <h2>Køb Fritidsfisketegn</h2>
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col">
          <label>Fornavn</label>
          <input type="text" formControlName="FirstName" name="FirstName" class="form-control">
        </div>
        <div class="form-group col">
          <label>Efternavn</label>
          <input type="text" formControlName="LastName" name="LastName" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>CPR nummer</label>
          <input type="number" formControlName="CPR" name="CPR" class="form-control">
        </div>
        <div class="form-group col">
          <label>Email</label>
          <input type="text" formControlName="Email" name="Email" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label>Adresse</label>
          <input type="text" formControlName="Address" name="Address" class="form-control">
        </div>
        <div class="form-group col">
          <label>Postnummer</label>
          <input type="number" formControlName="ZipCode" name="ZipCode" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label>Password</label>
          <input type="password" formControlName="Password" name="Password" class="form-control">
        </div>
        <div class="form-group col">
          <label>Gentag password</label>
          <input type="password" formControlName="gentagPassword" name="gentagPassword" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>Tilsend fisketegn af høj kvalitet</label>
          <div class="form-check">
            <label class="radio-inline display-block">
              <input type="checkbox" value="false" name="HighQuality" formControlName="HighQuality" class="form-check-input">
              DKK 15,00
            </label>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div *ngIf="!loading" class="form-group col-3 submitButton">
          <input type="submit" class="btn btn-info" value="Køb fisketegn" (click)="onRegisterSubmit()">
        </div>
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </form>
  </div>
</div>