<div class="row justify-content-center">
    <div class=" wrapper col">
      <h2>{{'formLabels.profile-title' | translate}}</h2>
      <form [formGroup]="form">
        <div class="row">
          <div class="form-group col">
            <label>{{'formLabels.firstname' | translate}}</label>
            <input type="text" formControlName="FirstName" name="FirstName" class="form-control" [placeholder]="firstnamePH" #firstName attr.aria-label="{{'formLabels.firstname' | translate}}">
          </div>
          <div class="form-group col">
            <label>{{'formLabels.lastname' | translate}}</label>
            <input type="text" formControlName="LastName" name="LastName" class="form-control" [placeholder]="lastnamePH" attr.aria-label="{{'formLabels.lastname' | translate}}">
          </div>
        </div>
  
        <div class="row">
          <div class="form-group col-6">
            <label>{{'formLabels.cpr' | translate}}</label>
            <input type="text" formControlName="CPR" name="CPR" class="form-control" [placeholder]="cprPH" attr.aria-label="{{'formLabels.cpr' | translate}}">
          </div>
          <div class="form-group col">
            <label>{{'formLabels.email' | translate}}</label>
            <input type="text" formControlName="Email" name="Email" class="form-control" [placeholder]="emailPH" attr.aria-label="{{'formLabels.email' | translate}}">
          </div>
        </div>
        
        <div class="row">
          <div class="form-group col">
            <label>{{'formLabels.address' | translate}}</label>
            <input type="text" formControlName="Address" name="Address" class="form-control" [placeholder]="addressPH" attr.aria-label="{{'formLabels.address' | translate}}">
          </div>
          <div class="form-group col">
            <label>{{'formLabels.zipcode' | translate}}</label>
            <input type="text" formControlName="ZipCode" name="ZipCode" class="form-control" [placeholder]="zipcodePH" attr.aria-label="{{'formLabels.zipcode' | translate}}">
          </div>
        </div>
        
        <div class="row" *ngIf="editing">
          <div class="form-group col">
            <label>{{'formLabels.country' | translate}}</label>
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>{{selectedCountry}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button (click)="changeCountry('Danmark')" ngbDropdownItem>{{'country.Denmark' | translate}}</button>
                  <button (click)="changeCountry('Tyskland')" ngbDropdownItem>{{'country.Germany' | translate}}</button>
                  <button (click)="changeCountry('Storbritannien')" ngbDropdownItem>{{'country.United-Kingdom' | translate}}</button>
                  <button (click)="changeCountry('Albanien')" ngbDropdownItem>{{'country.Albania' | translate}}</button>
                  <button (click)="changeCountry('Andorra')" ngbDropdownItem>{{'country.Andorra' | translate}}</button>
                  <button (click)="changeCountry('Belgien')" ngbDropdownItem>{{'country.Belgium' | translate}}</button>
                  <button (click)="changeCountry('Bosnien- Hercegovina')" ngbDropdownItem>{{'country.Bosnia-and-Herzegovina' | translate}}</button>
                  <button (click)="changeCountry('Bulgarien')" ngbDropdownItem>{{'country.Bulgaria' | translate}}</button>
                  <button (click)="changeCountry('Cypern')" ngbDropdownItem>{{'country.Cyprus' | translate}}</button>
                  <button (click)="changeCountry('Estland')" ngbDropdownItem>{{'country.Estonia' | translate}}</button>
                  <button (click)="changeCountry('Finland')" ngbDropdownItem>{{'country.Finland' | translate}}</button>
                  <button (click)="changeCountry('Frankrig')" ngbDropdownItem>{{'country.France' | translate}}</button>
                  <button (click)="changeCountry('Georgien')" ngbDropdownItem>{{'country.Georgia' | translate}}</button>
                  <button (click)="changeCountry('Grækenland')" ngbDropdownItem>{{'country.Greece' | translate}}</button>
                  <button (click)="changeCountry('Hviderusland')" ngbDropdownItem>{{'country.Belarus' | translate}}</button>
                  <button (click)="changeCountry('Irland')" ngbDropdownItem>{{'country.Ireland' | translate}}</button>
                  <button (click)="changeCountry('Island')" ngbDropdownItem>{{'country.Iceland' | translate}}</button>
                  <button (click)="changeCountry('Italien')" ngbDropdownItem>{{'country.Italy' | translate}}</button>
                  <button (click)="changeCountry('Kroatien')" ngbDropdownItem>{{'country.Croatia' | translate}}</button>
                  <button (click)="changeCountry('Letland')" ngbDropdownItem>{{'country.Latvia' | translate}}</button>
                  <button (click)="changeCountry('Liechtenstein')" ngbDropdownItem>{{'country.Liechtenstein' | translate}}</button>
                  <button (click)="changeCountry('Litauen')" ngbDropdownItem>{{'country.Lithuania' | translate}}</button>
                  <button (click)="changeCountry('Luxembourg')" ngbDropdownItem>{{'country.Luxembourg' | translate}}</button>
                  <button (click)="changeCountry('Makedonien')" ngbDropdownItem>{{'country.Macedonia' | translate}}</button>
                  <button (click)="changeCountry('Malta')" ngbDropdownItem>{{'country.Malta' | translate}}</button>
                  <button (click)="changeCountry('Moldavien')" ngbDropdownItem>{{'country.Moldova' | translate}}</button>
                  <button (click)="changeCountry('Monaco')" ngbDropdownItem>{{'country.Monaco' | translate}}</button>
                  <button (click)="changeCountry('Nederlandene')" ngbDropdownItem>{{'country.Netherlands' | translate}}</button>
                  <button (click)="changeCountry('Norge')" ngbDropdownItem>{{'country.Norway' | translate}}</button>
                  <button (click)="changeCountry('Polen')" ngbDropdownItem>{{'country.Poland' | translate}}</button>
                  <button (click)="changeCountry('Portugal')" ngbDropdownItem>{{'country.Portugal' | translate}}</button>
                  <button (click)="changeCountry('Rumænien')" ngbDropdownItem>{{'country.Romania' | translate}}</button>
                  <button (click)="changeCountry('Rusland')" ngbDropdownItem>{{'country.Russia-Federation' | translate}}</button>
                  <button (click)="changeCountry('San Marino')" ngbDropdownItem>{{'country.San-Marino' | translate}}</button>
                  <button (click)="changeCountry('Schweiz')" ngbDropdownItem>{{'country.Switzerland' | translate}}</button>
                  <button (click)="changeCountry('Serbien og Montenegro')" ngbDropdownItem>{{'country.Serbia-and-Montenegro' | translate}}</button>
                  <button (click)="changeCountry('Slovakiet')" ngbDropdownItem>{{'country.Slovakia' | translate}}</button>
                  <button (click)="changeCountry('Slovenien')" ngbDropdownItem>{{'country.Slovenia' | translate}}</button>
                  <button (click)="changeCountry('Spanien')" ngbDropdownItem>{{'country.Spain' | translate}}</button>
                  <button (click)="changeCountry('Sverige')" ngbDropdownItem>{{'country.Sweden' | translate}}</button>
                  <button (click)="changeCountry('Tjekkiet')" ngbDropdownItem>{{'country.Czech-Republic' | translate}}</button>
                  <button (click)="changeCountry('Tyrkiet')" ngbDropdownItem>{{'country.Turkey' | translate}}</button>
                  <button (click)="changeCountry('Ukraine')" ngbDropdownItem>{{'country.Ukraine' | translate}}</button>
                  <button (click)="changeCountry('Ungarn')" ngbDropdownItem>{{'country.Hungary' | translate}}</button>
                  <button (click)="changeCountry('Vatikanstaten')" ngbDropdownItem>{{'country.Vatican-City' | translate}}</button>
                  <button (click)="changeCountry('Østrig')" ngbDropdownItem>{{'country.Austria' | translate}}</button>
                  <button (click)="changeCountry('Andet land')" ngbDropdownItem>{{'country.Other-Countries' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!editing">
          <div class="form-group col-6">
            <label>{{'formLabels.country' | translate}}</label>
            <input type="text" formControlName="CountryDisabled" name="Country" class="form-control">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-3 " *ngIf="!editing">
            <input type="button" class="btn btn-info button" value="{{'formLabels.edit' | translate}}" (click)="activateForm()" #editButton>
          </div>
          <div class="form-group col-3 submitButton justify-content-center" *ngIf="editing">
            <input type="button" class="btn btn-info button" value="{{'formLabels.save' | translate}}" (click)="onUpdateUser()">
          </div>
          <div class="form-group col-3  justify-content-end justify-content-center" *ngIf="editing">
            <input type="button" class="btn btn-info button" value="{{'formLabels.cancel' | translate}}" (click)="cancel()">
          </div>
          <div class="form-group col-3 submitButton justify-content-end justify-content-center" *ngIf="!editing">
            <input type="button" class="btn btn-info button" value="{{'formLabels.change-password' | translate}}" (click)="open(content)">
          </div>
          <div class="form-group col-3 submitButton justify-content-end justify-content-center" *ngIf="editing">
            <input type="button" class="btn btn-danger button" value="{{'formLabels.delete-user' | translate}}" (click)="open(deleteUserPop)">
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <!-- list of licenses-->
<div *ngIf="!isCompact" aria-hidden="true"> 
  <h2>{{'LicenseLabels.title' | translate}}</h2>
  <ul>
    <li>
      <div class = "row listPadding">
        <h3 class="col-2">{{'LicenseLabels.number' | translate}}</h3>
        <h3 class="col-2">{{'LicenseLabels.start' | translate}} </h3>
        <h3 class="col-2">{{'LicenseLabels.expiration' | translate}}</h3>
        <h3 class="col-2">{{'LicenseLabels.type' | translate}}</h3>
        <h3 class="col-2">{{'LicenseLabels.status' | translate}}</h3>
      </div>
    </li>
  </ul>
  <ul class = "licenseList" *ngFor = "let license of licenseList">
    <li class = "listElement listPadding" >
      <div class = "row">
        <div class="col-2">{{license.licenseNumber}}</div>
        <div class="col-2">{{license.startDate}}</div>
        <div class="col-2">{{license.endDate}}</div>
        <div class="col-2" *ngIf = "license.type == 'f'">{{'LicenseLabels.hobby' | translate}}</div>
        <div class="col-2" *ngIf = "license.type == 'y'">{{'LicenseLabels.angler-year' | translate}}</div>
        <div class="col-2" *ngIf = "license.type == 'w'">{{'LicenseLabels.angler-week' | translate}}</div>
        <div class="col-2" *ngIf = "license.type == 'd'">{{'LicenseLabels.angler-day' | translate}}</div>
        <div *ngIf = "license.deletedFlag" class="col-2">{{'LicenseLabels.deleted' | translate}}</div>
        <div *ngIf = "!license.deletedFlag && license.status" class="col-2"> {{'LicenseLabels.active' | translate}}</div>
        <div *ngIf = "!license.deletedFlag && !license.status" class="col-2">{{'LicenseLabels.inactive' | translate}}</div>
        <div class="col-2"><button class="btn btn-info button" *ngIf = "license.renewable" (click)="openLicense(content2, license)">{{'LicenseLabels.renew' | translate}}</button></div>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="isCompact">
  <h2 >{{'LicenseLabels.title' | translate}}</h2>
    <ul class = "licenseList" *ngFor = "let license of licenseList">
      <li class = "listElement listPadding">
          <div class = "row">
            <div class="col-5">{{'LicenseLabels.number' | translate}}</div>
            <div class="col-7">{{license.licenseNumber}}</div>
          </div>
          <div class="row">
            <div class="col-5">{{'LicenseLabels.start' | translate}} </div>
            <div class="col-7">{{license.startDate}}</div>
          </div>
          <div class="row">
            <div class="col-5">{{'LicenseLabels.expiration' | translate}}</div>
            <div class="col-7">{{license.endDate}}</div>
          </div>
          <div class="row">
            <div class="col-5">{{'LicenseLabels.type' | translate}}</div>
            <div class="col-7" *ngIf = "license.type == 'f'">{{'LicenseLabels.hobby' | translate}}</div>
            <div class="col-7" *ngIf = "license.type == 'y'">{{'LicenseLabels.angler-year' | translate}}</div>
            <div class="col-7" *ngIf = "license.type == 'w'">{{'LicenseLabels.angler-week' | translate}}</div>
            <div class="col-7" *ngIf = "license.type == 'd'">{{'LicenseLabels.angler-day' | translate}}</div>
          </div>
          <div class="row">
            <div class="col-5">{{'LicenseLabels.status' | translate}}</div>
            <div *ngIf = "license.deletedFlag" class="col-7">{{'LicenseLabels.deleted' | translate}}</div>
            <div *ngIf = "!license.deletedFlag && license.status" class="col-7"> {{'LicenseLabels.active' | translate}}</div>
            <div *ngIf = "!license.deletedFlag && !license.status" class="col-7">{{'LicenseLabels.inactive' | translate}}</div>
          </div>
          <div class="row">
            <button class="col btn btn-info button" *ngIf = "license.renewable" (click)="openLicense(content2, license)">{{'LicenseLabels.renew' | translate}}</button>
          </div>
      </li>
    </ul>
</div>

<!--Hidden list of licenses for screen reader support-->
<div class="cdk-visually-hidden">
  <h2 >{{'LicenseLabels.title' | translate}}</h2>
  <ul class = "licenseList" *ngFor = "let license of licenseList">
    <li *ngIf="license.renewable" (click)="openLicense(content2, license)">
      {{getLicenseDescription(license)}}
    </li>
    <li *ngIf="!license.renewable">
      {{getLicenseDescription(license)}}
    </li>
  </ul>
</div>

      <!-- renew license popup -->
      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{'LicenseLabels.renew-license' | translate}}</h4>
          <button type="button" class="close" tabindex="2" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{'LicenseLabels.are-you-sure' | translate}} {{selectedLicense.licenseNumber}}?</p>
          <form [formGroup]="form">
            <div class="row justify-content-center">
              <div class="form-group col submitButton">
                <input type="submit" class="btn btn-info" tabindex="1" value="{{'LicenseLabels.renew-license' | translate}}" (click)="modal.close(onRenewLicense(selectedLicense.licenseID))" #renewButton>
              </div>
            </div>
        </form>
      </div>
    </ng-template>

    <!-- New password popup -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'LicenseLabels.change-password' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="form-group col">
              <label>{{'LicenseLabels.old-password' | translate}}</label>
              <input type="password" formControlName="oldPassword" name="oldPassword" class="form-control" attr.aria-label="{{'LicenseLabels.old-password' | translate}}">
            </div>
          </div>
        
          <div class="row">
            <div class="form-group col">
              <label>{{'LicenseLabels.new-password' | translate}}</label>
              <input type="password" formControlName="newPassword" name="newPassword" class="form-control" attr.aria-label="{{'LicenseLabels.new-password' | translate}}">
            </div>
          </div>
        
          <div class="row">
            <div class="form-group col">
              <label>{{'LicenseLabels.repeat-password' | translate}}</label>
              <input type="password" formControlName="repNewPassword" name="repNewPassword" class="form-control" attr.aria-label="{{'LicenseLabels.repeat-password' | translate}}">
            </div>
          </div>
        
          <div class="row justify-content-center">
            <div class="form-group col submitButton">
              <input type="submit" class="btn btn-info" value="{{'LicenseLabels.change-password' | translate}}" (click)="modal.close(onRegisterNewPassword())">
            </div>
          </div>
        </form>
      </div>
    </ng-template>

    <!-- Delete user popup -->
    <ng-template #deleteUserPop let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'LicenseLabels.delete-user' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'LicenseLabels.delete-are-you-sure' | translate}}</p>
        <p>{{'LicenseLabels.license-invalidation' | translate}}</p>
        <form [formGroup]="form">
          <div class="row justify-content-center">
            <div class="form-group col submitButton">
              <input type="submit" class="btn btn-danger" value="{{'LicenseLabels.delete-user' | translate}}"
                (click)="modal.close(onDeleteUser())">
            </div>
          </div>
        </form>
      </div>
    </ng-template>