<div class="row justify-content-center">
  <div class=" wrapper col">
    <h2>{{'TypeLabels.title' | translate}}</h2>
    <div class="row">
      <div class="form-group col">
        <div>
          <h3 class="bg-info text-white">{{'TypeLabels.angler' | translate}}</h3>
        </div>
        <div>
          <img src="../../../assets/img/Lystfisketegn.jpeg">
        </div>
        <div>
          <h3>{{'TypeLabels.angler-fisher' | translate}}</h3>
          <p>{{'TypeLabels.angler-introduction' | translate}}</p>
          <p>{{'TypeLabels.angler-excl-one' | translate}} <b>{{'TypeLabels.angler-excl-two' | translate}}</b> {{'TypeLabels.angler-excl-three' | translate}}</p>
          <ul>
            <li>{{'TypeLabels.angler-list-one' | translate}}</li>
            <li>{{'TypeLabels.angler-list-two' | translate}}</li>
            <li>{{'TypeLabels.angler-list-three' | translate}}</li>
            <li>{{'TypeLabels.angler-list-four-a' | translate}} <b>{{'TypeLabels.angler-list-four-b' | translate}}</b>{{'TypeLabels.angler-list-four-c' | translate}}</li>
            <li>{{'TypeLabels.angler-list-five' | translate}}</li>
          </ul>
          <p>{{'TypeLabels.angler-end' | translate}}</p>
        </div>
      </div>
      <div class="form-group col">
        <div>
          <h3 class="bg-info text-white">{{'TypeLabels.hobby' | translate}}</h3>
        </div>
        <div>
          <img src="../../../assets/img/fritidsfisketegn.jpeg">
        </div>
        <div>
          <h3>{{'TypeLabels.hobby-fisher' | translate}}</h3>
          <p>{{'TypeLabels.hobby-description' | translate}}</p>
          <p>{{'TypeLabels.hobby-req' | translate}}</p>
          <ul>
            <li>{{'TypeLabels.hobby-list-one' | translate}}</li>
            <li>{{'TypeLabels.hobby-list-two' | translate}}</li>
          </ul>
          <p>{{'TypeLabels.hobby-end-one' | translate}}</p>
          <p>{{'TypeLabels.hobby-end-two' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
