<div class="row justify-content-center">
  <div class=" wrapper col">
    <h2>To typer af fisketegn</h2>
    <div class="row">
      <div class="form-group col">
        <div>
          <h3 class="bg-info text-white">Lystfisketegn</h3>
        </div>
        <div>
          <img src="../../../assets/img/Lystfisketegn.jpeg">
        </div>
        <div>
          <h3>Lystfisker</h3>
          <p>Hvis du fisker med lette håndredskaber, skal du have lystfiskertegn. Håndredskaber er fx fiskestang, pilk og harpun
            - redskaber som du fisker aktivt med.</p>
          <p>Hvem skal <b>ikke</b> have lystfiskertegn</p>
          <ul>
            <li>Personer under 18 år</li>
            <li>Personer der har opnået ret til folkepension</li>
            <li>Fritidsfiskere som har et gyldigt fritidsfiskertegn</li>
            <li>Ejeren og resten af husstanden af den grund, der ligger nærmest ved det <b>ferskvand</b>, der bliver fisket i.
            </li>
            <li>Lystfiskere der fisker i "put and take" søer (ørredssøer).</li>
          </ul>
          <p>Fisketegnet er personligt og må ikke bruges af andre - heller ikke af personer i familien eller personer som har den samme adresse.</p>
        </div>
      </div>
      <div class="form-group col">
        <div>
          <h3 class="bg-info text-white">Fritidsfisketegn</h3>
        </div>
        <div>
          <img src="../../../assets/img/fritidsfisketegn.jpeg">
        </div>
        <div>
          <h3>Fritidsfisker</h3>
          <p>Hvis du fisker med redskaber som fx garn, ruser og kroge, skal du have fritidsfiskertegn. Redskaberne fisker passivt, uden at du behøver at være til stede.</p>
          <p>For at være fritidsfisker skal du:</p>
          <ul>
            <li>Være fyldt 12 år (der er ingen øvre aldersgrænse)</li>
            <li>Have fast bopæl i Danmark, medmindre du kommer fra et EU-land, Island eller Norge og har en nærmere tilknytning til Danmark, for eksempel på grund af arbejde her i landet.</li>
          </ul>
          <p>Du skal have fritidsfiskertegn, selvom du har opnået ret til folkepension.</p>
          <p>Fisketegnet er personligt og må ikke bruges af andre - heller ikke af personer i familien eller personer som har den samme adresse.</p>
        </div>
      </div>
    </div>
  </div>
</div>
